<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Starting Strength Log</title>
  </head>
  <body ng-controller = "liftingCtrl">

    <h3>Lifts</h3>
    <ul>
        <form ng-submit = "addNumbers()">
        <li><input type="text" ng-model="squat">  Squat</li>
        <li><input type="text" ng-model="deadlift">  Deadlift</li>
        <li><input type="text" ng-model="militaryPress">  Military Press</li>
        <button type = "submit">Go!</button>
        </form>
    </ul>

    <ul>
      <li ng-repeat="item in squatArray">
        {{ item }}
      </li>
    </ul>

    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/liftingCtrl.js"></script>
  </body>
</html>
